/* CSS Document */
html {
  font-size: 62.5%; }

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5; }

td {
  font-size: 1.2rem; }

body {
  background-color: #fdfdfd;
  font-size: 1.4rem;
  margin: 0;
  position: relative; }

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333; }

a {
  color: orange;
  text-decoration: none; }

a:hover, a:focus {
  color: #3397db;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

h1 {
  font-size: 2.4rem; }

/*p {
  font-size: 1.4rem;
}*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  margin-top: 10vh;
  flex-flow: row wrap; }

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 10vh;
  background-color: #252831;
  text-align: center; }

nav h1 {
  margin: auto;
  font-size: 1.2em;
  padding-top: 25px; }
  @media screen and (min-width: 700px) {
    nav h1 {
      padding-top: 3.5vh; } }

nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase; }
  @media screen and (min-width: 700px) {
    nav h1 a {
      font-size: 2rem; } }

.inside nav h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase; }

#breadcrumb {
  box-sizing: border-box;
  padding: 15px 0 15px 15px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 38.1953vw; }
  @media screen and (min-width: 700px) {
    #breadcrumb {
      width: 38.1953vw; } }

/* Display list items side by side */
#breadcrumb li {
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

/* ====================== Map ====================== */
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc; }

/* ====================== Restaurant listing with filters ====================== */
.restaurant-listing {
  width: 38.1953vw; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  box-sizing: border-box;
  height: auto;
  background-color: #e5e5e5;
  align-items: center;
  text-align: center;
  padding: 15px 0 10px 0;
  position: sticky;
  top: 9vh;
  width: 100%; }

.filter-options h2 {
  color: #252831;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px; }

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 40%; }

/* ====================== Restaurant Listing ====================== */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  text-align: center; }

#map-container {
  background: blue none repeat scroll 0 0;
  box-sizing: border-box;
  height: 100vh;
  flex-grow: 1;
  order: 2;
  flex-basis: 50vw;
  position: sticky;
  top: 10vh;
  width: 61.8047vw; }
  @media screen and (min-width: 700px) {
    #map-container {
      height: 100vh;
      width: 61.8047vw; } }

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center; }
  #restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
    font-style: italic;
    min-height: 380px;
    height: auto;
    padding: 0 30px 25px;
    text-align: left;
    width: 100%;
    text-align: center; }
  #restaurants-list h1 {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase; }
  #restaurants-list p {
    margin: 0;
    font-size: 11pt; }
  #restaurants-list a {
    background-color: #333333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 25px 0 0 0;
    max-width: 100%; }

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.inside #map-container {
  background: blue none repeat scroll 0 0;
  box-sizing: border-box;
  height: 100vh;
  flex-grow: 1;
  order: 2;
  flex-basis: 50vw;
  position: sticky;
  top: 10vh;
  width: 50%; }
  @media screen and (min-width: 700px) {
    .inside #map-container {
      height: 100vh;
      width: 61.8047vw; } }

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%; }

.inside #footer {
  letter-spacing: 1px;
  width: 100vw; }

.name-address-wrapper {
  background-color: #d9d9d987;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 15px;
  width: 100vw; }
  @media screen and (min-width: 700px) {
    .name-address-wrapper {
      margin: 10px 0 20px 0; } }

#restaurant-name {
  display: flex;
  color: #333;
  font-family: Arial,sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  width: 100vw;
  text-align: center;
  flex-direction: column;
  margin-bottom: 0;
  padding-top: 15px; }

#restaurant-img {
  width: 90%; }
  @media screen and (min-width: 700px) {
    #restaurant-img {
      width: 38.1953vw; } }

#restaurant-address {
  font-style: italic;
  margin: 0;
  color: #333333de;
  box-sizing: border-box;
  padding: 0 0 15px;
  letter-spacing: 2.5px;
  text-align: center; }

.brief-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 700px) {
    #restaurant-cuisine {
      width: 38.1953vw; } }

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 40px 30px;
  width: 50%; }
  @media screen and (min-width: 700px) {
    #restaurant-container, #reviews-container {
      margin: 0;
      width: 38.1953vw;
      padding: 55px 40px 30px; } }

#reviews-container {
  padding: 30px 40px 80px 30px;
  order: 3; }

#reviews-container h2 {
  font-family: Arial,sans-serif;
  color: #333333;
  font-size: 24pt;
  font-weight: 100;
  letter-spacing: -1px;
  padding-bottom: 1pt; }

.review-name-date-wrapper {
  display: inline-flex;
  width: 100%;
  background-color: #252832d1; }

#reviews-list {
  margin: 0;
  padding: 0; }
  #reviews-list li {
    background-color: #2828280f;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    position: relative;
    width: 100%; }
  #reviews-list li p {
    margin: 0 0 10px; }
  #reviews-list td {
    color: #666; }
  #reviews-list .review-name {
    color: white;
    padding: 15px 15px 0px 15px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem; }
  #reviews-list .review-date {
    color: white;
    padding: 15px 15px 0px 15px;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    flex: 2;
    text-align: right; }
  #reviews-list .review-rating {
    display: inline-flex;
    background: #f58500b3;
    flex: none;
    flex-basis: 20%;
    padding: 10px;
    color: whitesmoke;
    font-size: 1rem;
    margin-top: 10px; }
  #reviews-list .review-comments {
    padding: 15px 15px 15px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #6f778a; }

@media screen and (max-width: 700px) {
  #maincontent {
    flex-flow: column nowrap;
    margin-top: 74px; }
  footer {
    margin-top: 20px; }
  .filter-options {
    top: 0;
    position: initial;
    order: 3;
    width: 100vw; }
  .filter-options select {
    width: 40%; }
  .restaurant-listing {
    order: 2;
    width: 100vw; }
  #restaurants-list {
    padding: 0;
    width: 100vw;
    order: 4; }
    #restaurants-list li {
      padding: 0;
      width: 100vw; }
    #restaurants-list .restaurant-img {
      margin: 0; }
  .inside #map-container {
    position: relative;
    order: 1;
    height: 40vh;
    width: 100%;
    margin-bottom: 0;
    top: 0; }
  #map-container {
    position: relative;
    order: 1;
    height: 40vh;
    width: 100%;
    margin-bottom: 0;
    top: 0; }
  #breadcrumb {
    width: 100vw; }
  #restaurant-container {
    order: 2;
    padding: 15px 40px 30px; }
  #restaurant-container, #reviews-container {
    width: 100vw; }
  #reviews-container {
    padding: 30px 40px 40px 30px; }
  #restaurant-img {
    width: 100vw;
    margin-top: 15px; }
  #restaurant-cuisine {
    width: 100vw; } }

@media screen and (min-width: 700px) and (max-width: 900px) {
  #restaurant-name {
    font-size: 1.9rem; }
  #restaurant-address {
    font-size: 1.2rem; } }
